*{
    margin: 4px;;
    padding:0;
    font-size:18px;
  }
  body{
    background-color:var(--bg);
    font-family: Kollektif-bold;
  }  
.main{
    display: flex;
flex-direction: row;
padding-top: 2%;
padding-bottom: 2%;
box-shadow:0 5px 25px var(--shadow);

}  
.main h1{
    margin: auto;
    width: 18%;
    font-size:30px;
    color:var(--darker-grey);
    padding-left:2px;
  
  }  
.main #signout{
    color:var(--darker-grey);
    transform: rotate(180deg);
    margin-left: 3%;
}  
.main #add{
   /** margin: auto;

    font-size:30px;*/
    color:var(--darker-grey);
    padding-left:9px;
}


.r #abcd{
    margin-top: 8%;
    margin-left: 4%;
    font-size: 25px;
    font-weight: 100;
    font-family: Kollektif;
}

.rooms .room1 {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;   
}
.rooms .room2 {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;   
}
.room1 h4{
    padding-top: 1.5%;
}
.room1  #r1{
    text-align: right;
    margin-left: 88%;
    font-size: 30;
    position: absolute;
    border-radius:100%;
    padding: 1.5% 1.5% 1.5% 1.5%;
    background-color:var(--pink);
}
.room2  #r1{
    text-align: right;
    margin-left: 88%;
    font-size: 30;
    position: absolute;
    border-radius:100%;
    padding: 1.5% 1.5% 1.5% 1.5%;
    background-color:var(--pink);
}

.room2 h4{
    padding-top: 1.5%;
}

.rooms .room3 {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;   
}
.rooms .room4 {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;   
}
.room3 h4{
    padding-top: 1.5%;
}
.room3  #r1{
    text-align: right;
    margin-left: 88%;
    font-size: 30;
    position: absolute;
    border-radius:100%;
    padding: 1.5% 1.5% 1.5% 1.5%;
    background-color:var(--pink);
}
.room4  #r1{
    text-align: right;
    margin-left: 88%;
    font-size: 30;
    position: absolute;
    border-radius:100%;
    padding: 1.5% 1.5% 1.5% 1.5%;
    background-color:var(--pink);
}

.room4 h4{
    padding-top: 1.5%;
}

.rooms .room5 {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;   
}

.room5  #r1{
    text-align: right;
    margin-left: 88%;
    font-size: 30;
    position: absolute;
    border-radius:100%;
    padding: 1.5% 1.5% 1.5% 1.5%;
    background-color:var(--pink);
}

.room5 h4{
    padding-top: 1.5%;
}